@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* .poppins-light {
    font-weight: 300;
    font-style: normal;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


html, body{
    height: 100%;
    width: 100%;
    background-color: #222;
}

h1{
    margin-top: 2vw;
    font-size: 3vw;
    text-align: center;
    background: -webkit-linear-gradient(rgb(281, 255, 81), rgb(73, 173, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main{
    height: 600px;
    width: 450px;
    background-color: white;
    border-radius: 30px;
    padding: 1.5vw 0.5vw;
    border:1px solid black;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
    overflow-y: scroll;
}


.input_todo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.input_todo #text{
    padding: 10px;
    border-style: none;
    border-bottom: 2px solid #464646;
}

.input_todo #sub{
    padding: 10px;
    background-color: white;
    border: 1px solid #222;
    border-radius: 10px;
}

.input_todo #sub:hover{
    background-color: #252525;
    color: #dadada;
    cursor: pointer;
    transition-duration: 0.5s;
}

.todos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todos .todo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 10px;
    padding: 1vw 0.85vw;
    background-color: transparent;
}

.todos .todo .todo_option i{
    background-color: transparent;
    padding: 0.8vw;
    border: none;
    border-radius: 5px;
    font-size: 1.3vw;
}

.todos .todo_option{
    display: none;
    gap: 13px;
}

.ri-checkbox-circle-fill:hover{
    cursor: pointer;
}
.ri-checkbox-blank-circle-line:hover{
    cursor: pointer;
}



@media (max-width:470px) {

    h1{
        margin-top: 2vw;
        font-size: 8vw;
        text-align: center;
        background: -webkit-linear-gradient(rgb(281, 255, 81), rgb(73, 173, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .main{
        height: 600px;
        width: 380px;
        border-radius: 20px;
        padding: 5.5vw 1.5vw;
        display: flex;
        flex-direction: column;
        gap: 30px;
        overflow: hidden;
        overflow-y: scroll;
    }

    .todos .todo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        border-radius: 5px;
        padding: 1.8vw 1.85vw;
        background-color: transparent;
    }

    .todos .todo .todo_option i{
        background-color: transparent;
        margin-right: 1.8vw;
        border-radius: 4px;
        font-size: 3.8vw;
    }
    .todos .todo_option{
        display: inline-block;
        gap: 13px;
    }
    .todos .todo{
        background-color: #e2f1ff;
    }
}

@media (max-width:370px) {
    .main{
        width: 340px;
    }

    .input_todo{
        width: 100%;
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    
    .input_todo #text{
        padding: 6px;
        border-bottom: 1px solid #464646;
    }
    
    .input_todo #sub{
        padding: 7px;
        border: 0.5px solid #222;
        border-radius: 8px;
    }
    .todos .todo{
        background-color: #e2f1ff;
    }
}

@media (max-height:600px) {
    .main{
        position: relative;
        top: 80%;
        left: 50%;
    }
    h1{ 
        font-size: 5vw;
    }
    .todos .todo{
        background-color: #e2f1ff;
    }
}

@media (max-height:670px) {
    .main{
        position: relative;
        top: 55%;
        left: 50%;
    }
    h1{ 
        font-size: 8vw;
    }
    .main{
        height: 580px;
        width: 350px;
        border-radius: 20px;
        padding: 5.5vw 1.5vw;
    }
    .input_todo #text{
        padding: 6px;
        border-bottom: 1px solid #464646;
    }
    
    .input_todo #sub{
        padding: 7px;
        border: 0.5px solid #222;
        border-radius: 8px;
    }
    .todos .todo{
        background-color: #e2f1ff;
    }
    
}
